/* Générale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.parallax-effect {
    background-image: url("/images/programming-g49299e6df_1280.jpg");
    min-height: 37.5rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 50%;
}

section {
    padding: 65px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}
/* section .heading h1{
    color:rgb(99, 1, 74);
} */
section .heading h3 {
    text-transform: uppercase;
    color: #a39fa0;
    text-shadow: 2px 2px black;
}

.divider {
    width: 100px;
    height: 2px;
    background-color: rgb(255, 72, 0);
    margin: 0 auto 20px;
}

.divider.white {
    background-color: rgb(255, 72, 0);
}

/* Navbar */

.navbar {
    background-color: rgb(14, 14, 14);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.navbar-nav {
    margin: 0 auto;
    text-align: center;
}

.nav-link {
    color: rgb(255, 72, 0) !important;
    margin: 0 6px;
}

.nav-link.active,
.nav-link:hover {
    background-color: lightgray;
    color: rgb(255, 72, 0) !important;
}

/* About */

#about {
    /* background-color: #250037; */
    background-image: url("/images/pexels-nikolaos.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.profile-picture {
    text-align: left;
    /* margin: 0px auto 30px; */
}

#about .heading h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#about img {
    margin-left: 90px;
}

.button1 {
    text-transform: none;
    font-weight: bold;
    display: inline-block;
}

ul {
    list-style: none;
}

/* Skills */

#skills {
    background: rgb(14, 14, 14);
}

#skills .heading h2 {
    color: #ddd;
}

#skills .progress {
    height: 45px;
    margin: 30px 20px;
}

#skills .progress:last-child {
    margin-bottom: 0px;
}

#skills .progress-bar {
    background-color: rgb(255, 52, 0);
}

#skills .progress-bar h5 {
    text-shadow: 2px 1px 1px black;
    margin-bottom: 3px;
}

/* Expériencs */

#experiences {
    background-color: rgb(14, 14, 14);
}

#experiences .heading h2 {
    color: white;
}

.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline::before {
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: rgb(255, 72, 0);
    left: 50%;
    margin-left: -2.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline li .timeline-badge {
    color: rgb(255, 72, 0);
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50px;
}

.timeline-panel-container {
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}

.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid rgb(255, 72, 0);
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #ddd;
}

.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}

.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ddd;
    border-right: 0 solid #ddd;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
}

.timeline-heading h4 {
    color: #250037;
}

/* Education*/

#education {
    background: gainsboro;
}

#education .heading h2 {
    color: #250037;
    margin: 15px 0px;
}

#education p {
    color: silver;
}

.education-block {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: rgb(14, 14, 14);
    border-radius: 5px;
    border: 1px solid rgb(255, 72, 0);
    margin-bottom: 20px;
}

.education-block h5 {
    color: #ddd;
    font-size: 15px;
    margin-bottom: 15px;
}

.education-block span {
    font-size: 35px;
}

.education-block h3 {
    color: #ddd;
}

.education-block h4 {
    color: #ddd;
    margin-bottom: 20px;
    font-weight: normal;
}

/* Portfolio */
#portfolio {
    background-color: rgb(14, 14, 14);
}

#portfolio .heading h2 {
    color: #fff;
}

#portfolio img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#portfolio img:hover {
    filter: none;
    -webkit-filter: none;
}

#portfolio .col-md-4 {
    margin-bottom: 20px;
}

/* Recommendations */

#recommendation {
    color: gainsboro;
}

#recommendations .heading h2 {
    color: #250037
}

#myCarousel .carousel-item {
    padding: 30px 30px 90px;
}

/* Contact */
#contact .container {
    background-image: url('/images/pexels-alex.jpg');
    background-size: cover;
}

#contact-form {
    font-size: 20px;
    padding: 40px;
    border-radius: 10px;
}

/*---  NEW  ------*/
.blue {
    color: rgb(255, 72, 0);
}

.form-control {
    height: 50px;
    font-size: 18px;
}

#contact-form input[type=submit] {
    margin: 40px auto 0px;
    display: block;
}


.button2 {
    border: 1px solid #ddd;
    background: #333;
    color: #fff;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}

.button2:hover {
    background: rgb(255, 72, 0);
    border-color: rgb(40, 27, 14);
}

/* Footer */

footer {
    background-color: rgb(14, 14, 14);
    padding: 5px 0 5px;
}

footer img {
    width: 80px;
}

footer span {
    color: rgb(255, 72, 0);
    font-size: 25px;
    line-height: 35px;
}

footer span:hover {
    font-size: 35px;
}

/* footer h5
{
    color: #fff;
    font-weight: normal;
} */

@media screen and (max-width: 299px) {
    #about {
        background-position: center;
        width: 30%;
    }
}